.container {
  display: flex;
  flex-direction: column;
}
.main-page {
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.main-section-btn {
  margin-top: 40px;
}

.main-section-heading {
  font-size: 70px;
  text-align: left;
}

.main-section-image {
  width: 80%;
  margin-top: 50px;
}

.main-section-para,
.third-section-para,
.eighth-section-para {
  font-size: 20px;
  text-align: left;
  color: #6b6b84;
}

.second-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 30px 50px;
}
.second-section-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section-heading {
  font-size: 40px;
  max-width: 600px;
  text-align: center;
}

.second-section-para {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  color: #6b6b84;
}

.second-section-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.main-page-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.main-page-right {
  display: flex;
}

.third-section {
  display: flex;
  flex-direction: row;
  padding: 50px 50px 100px;
  background-color: #fff;
}

.third-section-heading {
  font-size: 50px;
  text-align: left;
}

.third-section-lists {
  display: flex;
  flex-direction: row;
}
.third-section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 30px 50px;
}

.fourth-section-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-section-heading {
  font-size: 40px;
  max-width: 600px;
  text-align: center;
}

.fourth-section-para {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  color: #6b6b84;
}

.fourth-section-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
}

.fifth-section-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fifth-section-heading {
  font-size: 40px;
  max-width: 600px;
  text-align: center;
}

.fifth-section-para {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  color: #6b6b84;
}

.fifth-section-lower {
  width: 100%;
}
.fifth-section-btn-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
}
.fifth-section-btn {
  margin-left: 6%;
  margin-right: 6%;
  min-width: min-content;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.fifth-section-btn:hover {
  background-color: #ff5d22;
  color: #fff;
}

.sixth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 50px;
}

.sixth-section-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sixth-section-heading {
  font-size: 40px;
  max-width: 600px;
  text-align: center;
}

.sixth-section-para {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  color: #6b6b84;
}

.sixth-section-btn {
  background-color: transparent;
  color: #ff5d22;
  font-size: 18px;
  border: solid 1px #ff5d22;
  height: 50px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.sixth-section-btn:hover {
  background-color: #ff5d22;
  color: #fff;
}

.seventh-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 50px;
  background-color: #fffbf5;
}

.seventh-section-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seventh-section-heading {
  font-size: 40px;
  max-width: 600px;
  text-align: center;
}

.seventh-section-para {
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  color: #6b6b84;
}

.seventh-section-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.eighth-section {
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.eighth-section-right {
  padding: 40px;
  width: 50%;
}

.eigth-section-left {
  padding: 20px;
  width: 50%;
}

.eighth-section-btn {
  margin-top: 40px;
}

.eighth-section-image {
  width: 80%;
  margin-top: 50px;
}

.eighth-section-heading {
  font-size: 60px;
}

.footer-section{
    background-color: #fffbf5;
    display: flex;
    flex-direction:row;
    padding: 5%;
}

.footer-section-description{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-section-description-heading{
    margin:10px;
}

.footer-section-description-heading:hover{
    color:#ff5d22
}

.footer-section-description-para{
    margin: 10px;
    font-size: 17px;
    color:#6b6b84;
    width: 90%;
}

.footer-section-description-btns{
    margin: 10px;
    
}

.footer-section-description-btn{
    margin: 5px;
    background-color:#6b6b84;
    color: #fff;
    border:transparent;
    height: 25px;
    width: 25px;
}

.footer-section-description-btn:hover{
    background-color:#ff5d22
}

.footer-section-social{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-end;
}

.footer-section-social-list{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-section-list-heading{
    font-size: 36px;
}

.footer-section-list-heading:hover, .footer-section-social-list-heading:hover{
    color: #ff5d22;
}

.bottom-section{
    background-color: #fffbf5;
    display: flex;
    flex-direction:row;
    padding: 1% 8%;
    justify-content: space-between;
    border-top: 1px solid #c6c6cf;
    border-width: 90%;
}

.bottom-section-para{
    font-size: 17px;
    color:#6b6b84;
    margin:5px;
}

.bottom-section-para:hover{
    color: #ff5d22;
}

.footer-section-social-list-item{
    font-size: 17px;
    color:#6b6b84;
    margin: 10px;
    width: 90%;
}

@media screen and (max-width: 1050px) {
  .main-page {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
  }

  .third-section {
    display: flex;
    flex-direction: column;
  }
  .second-section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .fourth-section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .seventh-section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .eighth-section {
    display: flex;
    flex-direction: column;
  }

  .eighth-section-right {
    padding: 40px;
    width: 90%;
  }

  .eigth-section-left {
    padding: 20px;
    width: 90%;
  }

  .eighth-section-btn {
    margin-top: 40px;
  }

  .footer-section-break{
    height:1.5px;
    border-width:0;
    color:gray;
    background-color:gray;
  }
  .footer-section{
    background-color: #fffbf5;
    display: flex;
    flex-direction:column;
    padding: 5%;
}
.footer-section-social{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-end;
}
.footer-section-social-list{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer-section-description{
    display: flex;
    flex-direction: column;
    width: 90%;
}
}
@media screen and (max-width: 750px) {
  .third-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .third-section-lists {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
